<h1>Post a New Tweet</h1>

<%= form_for @tweat do |f| %>
<div>
  <%= f.label :author, "Your Name" %>
  <%= f.text_field :author %>
</div>
<div>
  <%= f.label :body, "Your Message" %>
  <%= f.text_field :body %>
</div>
<div>
  <%= f.submit "Post Tweet" %>
</div>
<% end %>

<%= link_to "Post a Tweet", new_tweet_path %>
